Repository wxh06/wxh.im: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check, prettier --write

.lintstagedrc.json:

{
  "*.{js,cjs,ts,jsx,tsx}": ["eslint --fix", "prettier --check"],
  "*.{json,yml,yaml,html,md,css,scss}": ["prettier --write"]
}

Fix svg icon styles & nav links & masonry layout
  package.json
  pnpm-lock.yaml
  src/app/(layout)/about/page.tsx
  src/app/(layout)/layout.tsx
  src/app/(layout)/links/Links.tsx
  src/app/globals.css
  src/app/navigation.json
  src/app/page.tsx
  src/components/ExternalLink.tsx
  src/components/SimpleIcon.tsx
Due: eslint --fix, prettier --check, prettier --write

Rename path segment `skills` to `skillicons`
  next.config.js
  src/app/(layout)/about/page.tsx
Due: eslint --fix, prettier --check

Iterate over tools on about page
  src/app/(layout)/about/page.tsx
Due: eslint --fix, prettier --check

Add Arch Linux & Firefox Browser
  src/app/(layout)/about/page.tsx
Due: eslint --fix, prettier --check

Reduce icon size on project page
  src/app/(layout)/projects/page.tsx
Due: eslint --fix, prettier --check

Upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add link to diyanqi
  next.config.js
  src/app/(layout)/links/Links.tsx
Due: eslint --fix, prettier --check

Update description of @smallfangqwq
  src/app/(layout)/links/Links.tsx
Due: eslint --fix, prettier --check

typescript-eslint plugin v6 rules
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add link to Imken Luo
  next.config.js
  src/app/(layout)/links/Links.tsx
Due: eslint --fix, prettier --check

Friend description cleanup
  src/app/(layout)/links/Links.tsx
Due: eslint --fix, prettier --check

Use Next.js 13.5 `getImgProps` for dark mode
  next.config.js
  src/app/(layout)/about/page.tsx
  src/app/(layout)/about/skills.json
Due: eslint --fix, prettier --check, prettier --write

Increase navbar margin y on mobile devices
  src/app/(layout)/layout.tsx
Due: eslint --fix, prettier --check

GitHub star button
  src/app/(layout)/about/page.tsx
  src/app/(layout)/projects/page.tsx
  src/components/GitHubButton.tsx
Due: eslint --fix, prettier --check

Update skills
  src/app/(layout)/about/page.tsx
  src/app/(layout)/about/skills.json
Due: eslint --fix, prettier --check, prettier --write

Split `Projects` into standalone file
  src/app/(layout)/projects/Projects.tsx
  src/app/(layout)/projects/page.tsx
Due: eslint --fix, prettier --check

Update projects
  src/app/(layout)/projects/Projects.tsx
  src/app/(layout)/projects/page.tsx
Due: eslint --fix, prettier --check

VS Code debugging
  .vscode/launch.json
Due: prettier --write

chore: initialize WebStorm
  .idea/.gitignore
  .idea/modules.xml
  .idea/vcs.xml
  .idea/wxh.im.iml
Due: none

WebStorm run configurations
  .idea/runConfigurations/Next_js__client_side.xml
  .idea/runConfigurations/Next_js__server_side.xml
Due: none

Next.js template files & kebab-case filenames
  README.md
  src/app/(layout)/about/page.tsx
  src/app/(layout)/layout.tsx
  src/app/(layout)/links/links.tsx
  src/app/(layout)/links/page.tsx
  src/app/(layout)/nav-link.tsx
  src/app/(layout)/projects/page.tsx
  src/app/(layout)/projects/projects.tsx
  src/app/page.tsx
  src/components/external-link.tsx
  src/components/github-button.tsx
  src/components/simple-icon.tsx
  tailwind.config.cjs
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, prettier --check, prettier --write

Update about page content
  src/app/(layout)/about/page.tsx
Due: eslint --fix, prettier --check

Create LICENSE (MIT)
  LICENSE
Due: none

Sort `simple-icons` import
  src/app/(layout)/projects/page.tsx
Due: eslint --fix, prettier --check

Prettier in WebStorm
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/prettier.xml
Due: none

Add link to masnn
  src/app/(layout)/links/links.tsx
Due: eslint --fix, prettier --check

Add luogu-badges & lgtracker
  src/app/(layout)/projects/page.tsx
Due: eslint --fix, prettier --check

ESLint in WebStorm
  .idea/inspectionProfiles/Project_Default.xml
Due: none

Linters
  .eslintignore
  .eslintrc.cjs
  .husky/pre-commit
  .idea/jsLibraryMappings.xml
  .lintstagedrc.cjs
  .prettierignore
  .prettierrc.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Card.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  tsconfig.json
Due: eslint --fix, prettier --check, prettier --write

Tailwind CSS
  .eslintrc.cjs
  .prettierrc.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  tailwind.config.mjs
Due: eslint --fix, prettier --check, prettier --write

index
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
  src/navigation.json
  src/pages/index.astro
Due: eslint --fix, prettier --check, prettier --write

about
  src/components/ExternalLink.astro
  src/components/NavLink.astro
  src/layouts/PageLayout.astro
  src/pages/about.astro
  src/pages/skills.json
Due: prettier --write

Fix white space
  .lintstagedrc.cjs
  src/components/ExternalLink.astro
  src/pages/about.astro
Due: eslint --fix, prettier --check
