Repository wxh06/wxh.im: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema",
  "*.{md,mdx,html,css,json,yml,yaml}": "prettier --write",
  "*.{js,mjs,cjs,ts,astro}": "eslint --fix"
}

chore: replace deprecated usage
  src/content.config.ts
Due: eslint --fix

fix: ensure SVG processing is enabled in image configuration
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: remove links to social media
  src/pages/index.astro
Due: eslint --fix

feat(links): update link to Dyrox & add Sanpuko
  astro.config.mjs
  src/data/links.yaml
Due: prettier --write, eslint --fix

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump pnpm, Astro and other dependencies
  .npmrc
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

chore: use default `compressHTML: 'jsx'` in Astro v7
  astro.config.mjs
  src/pages/about.astro
Due: eslint --fix

revert: Astro fixed remote svg images somehow
  astro.config.mjs
Due: eslint --fix

build: move type checkers to devDependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: contact link spacing and transition
  src/pages/index.astro
Due: eslint --fix

style: bump prettier-plugin-astro to version 1.0.0
  package.json
  pnpm-lock.yaml
  src/components/ExternalLink.astro
  src/components/NavLink.astro
  src/components/ProjectGroup.astro
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/index.astro
  src/pages/links.astro
Due: prettier --write, eslint --fix

style: sort imports
  .prettierrc.json
  astro.config.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  src/components/ExternalLink.astro
  src/components/ProjectGroup.astro
  src/data/projects/caddy-uwsgi-transport.mdx
  src/data/projects/caie-assembler.mdx
  src/data/projects/luogu/exlg.mdx
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/index.astro
  src/pages/links.astro
  src/pages/projects.astro
  tsconfig.json
Due: prettier --write, eslint --fix

fix(links): go to two columns at the sm breakpoint
  src/pages/links.astro
Due: eslint --fix

feat: lay the navigation out for phone screens
  src/components/NavLink.astro
  src/layouts/Layout.astro
  src/pages/index.astro
Due: eslint --fix

build: add vitest
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  vitest.config.ts
Due: prettier --write, eslint --fix

feat: group photos into a timeline of stays
  src/pages/photos.astro
  src/photos/timeline.test.ts
  src/photos/timeline.ts
  vitest.config.ts
Due: eslint --fix

feat: add photos collection read from exported JPEG metadata
  package.json
  photos/.gitignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/content.config.ts
  src/loaders/photos.ts
  src/navigation.json
  src/pages/photos.astro
Due: prettier --write, eslint --fix

feat: locate the place each photo shows by geocoding its sublocation
  package.json
  pnpm-lock.yaml
  src/content.config.ts
  src/loaders/geocode.ts
  src/loaders/photos.ts
  src/photos/geo.test.ts
  src/photos/geo.ts
Due: prettier --write, eslint --fix

feat: add a map that follows the timeline
  package.json
  pnpm-lock.yaml
  src/components/timeline-map.ts
  src/layouts/BaseLayout.astro
  src/pages/photos.astro
  src/photos/geo.test.ts
  src/photos/geo.ts
Due: prettier --write, eslint --fix

feat: draw each place's outline and frame stays on it
  src/components/timeline-map.ts
  src/content.config.ts
  src/loaders/geocode.ts
  src/loaders/photos.ts
  src/photos/geo.test.ts
  src/photos/geo.ts
Due: eslint --fix

feat: caption the map with the current stay
  src/components/timeline-map.ts
  src/pages/photos.astro
Due: eslint --fix

feat: draw the places and camera positions of each stay
  src/components/timeline-map.ts
  src/pages/photos.astro
  src/photos/geo.test.ts
  src/photos/geo.ts
Due: eslint --fix

feat: tuck each photo's details behind an info button
  package.json
  pnpm-lock.yaml
  src/pages/photos.astro
Due: prettier --write, eslint --fix

feat: link photos and their map points on hover
  src/components/timeline-map.ts
  src/pages/photos.astro
Due: eslint --fix

feat: fade the rest of the map while a point is hovered
  src/components/timeline-map.ts
Due: eslint --fix

build: fetch the photos from R2 on Vercel
  vercel.json
Due: prettier --write

feat: badge photos merged from bracketed exposures
  src/content.config.ts
  src/loaders/photos.ts
  src/pages/photos.astro
Due: eslint --fix

build: install only production dependencies on Vercel
  vercel.json
Due: prettier --write

fix: open a photo's details from a tap
  src/pages/photos.astro
Due: eslint --fix
