Repository wxh06/wxh.im: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check, prettier --write

.lintstagedrc.json:

{
  "*.{js,cjs,ts,jsx,tsx}": ["eslint --fix", "prettier --check"],
  "*.{json,yml,yaml,html,md,css,scss}": ["prettier --write"]
}

Bootstrap starter template
  .gitignore
  .lintstagedrc.json
  .prettierignore
  app/root.tsx
  app/routes/index.tsx
  app/styles/starter-template.css
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check, prettier --write

Homepage: basic info.
  app/root.tsx
  app/routes/index.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check, prettier --write

Remove <ul> from <p>
  app/routes/index.tsx
Due: eslint --fix, prettier --check

Social media icons
  app/routes/index.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check, prettier --write

Twitter Timeline Embed
  app/routes/index.tsx
Due: eslint --fix, prettier --check

Header, footer and external links
  .vscode/settings.json
  app/components/footer.tsx
  app/components/header.tsx
  app/root.tsx
  app/routes/index.tsx
  app/routes/links.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check, prettier --write

Fix FontAwesomeIcon height & rm bootstrap-icons
  app/root.tsx
  app/routes/index.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check, prettier --write

Abstract `Card` from `ExternalLinks`
  app/routes/links.tsx
Due: eslint --fix, prettier --check

Prefetch
  app/components/header.tsx
  app/routes/index.tsx
  app/routes/links.tsx
Due: eslint --fix, prettier --check

Add title for links.tsx
  app/routes/links.tsx
Due: eslint --fix, prettier --check

Fix style sheet of Twitter timeline
  app/routes/index.tsx
  app/styles/twitter-timeline.css
Due: eslint --fix, prettier --check, prettier --write

Generate base64 URL for images
  app/routes/links.tsx
  app/utils/fetch-to-base64.server.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check, prettier --write

ghproxy.com
  app/routes/links.tsx
Due: eslint --fix, prettier --check

Add programming languages & enrich footer
  app/components/external-link.tsx
  app/components/footer.tsx
  app/routes/index.tsx
Due: eslint --fix, prettier --check

Create skills.tsx
  app/components/header.tsx
  app/routes/index.tsx
  app/routes/links.tsx
  app/routes/skills.tsx
Due: eslint --fix, prettier --check

Add link to Baoshuo's blog
  app/routes/links.tsx
Due: eslint --fix, prettier --check

Create .node-version
  .node-version
Due: none

Export static site for deployment on Cloudflare
  cloudflare-image-loader.ts
  image-loader.ts
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check, prettier --write

Audience Analytics
  package.json
  pages/_app.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check, prettier --write

Use local image & remove getStaticProps
  next.config.js
  package.json
  pages/index.tsx
  pages/links.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --check, prettier --write

Change link color
  pages/about.tsx
Due: eslint --fix, prettier --check

Update dependencies & ignore lists
  .eslintignore
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update globals.css
  styles/globals.css
Due: prettier --write

Upgrade deps & fix twitter widget bg
  package.json
  pnpm-lock.yaml
  styles/globals.css
Due: prettier --write

Merry Christmas!
  pages/index.tsx
Due: eslint --fix, prettier --check

Migrate to `app` directory
  .vscode/settings.json
  app/(layout)/Navbar.tsx
  app/(layout)/about/page.tsx
  app/(layout)/about/react-github-btn.tsx
  app/(layout)/about/react-twitter-embed.ts
  app/(layout)/layout.tsx
  app/(layout)/links/page.tsx
  app/(layout)/links/react-infinitegrid.tsx
  app/layout.tsx
  app/page.tsx
  cloudflare-image-loader.ts
  components/layout.tsx
  image-loader.ts
  next.config.js
  package.json
  pages/_app.tsx
  pages/about.tsx
  pages/api/hello.ts
  pages/links.tsx
  pnpm-lock.yaml
  tailwind.config.cjs
  tsconfig.json
Due: eslint --fix, prettier --check, prettier --write

MUI Masonry
  app/(layout)/links/mui-lab.tsx
  app/(layout)/links/page.tsx
  app/(layout)/links/react-infinitegrid.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check, prettier --write

Astro
  .eslintignore
  .eslintrc.cjs
  .eslintrc.json
  .gitignore
  .lintstagedrc.cjs
  .node-version
  .prettierignore
  .prettierrc.cjs
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  README.md
  app/(layout)/Navbar.tsx
  app/(layout)/about/page.tsx
  app/(layout)/about/react-github-btn.tsx
  app/(layout)/about/react-twitter-embed.ts
  app/(layout)/layout.tsx
  app/(layout)/links/mui-lab.tsx
  app/(layout)/links/page.tsx
  app/layout.tsx
  app/page.tsx
  astro.config.mjs
  next.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  public/favicon.ico
  public/favicon.svg
  public/vercel.svg
  src/components/FontAwesomeIcon.astro
  src/env.d.ts
  src/layouts/BaseLayout.astro
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/index.astro
  src/pages/links.astro
  styles/globals.css
  tailwind.config.cjs
  tsconfig.json
Due: eslint --fix, prettier --check, prettier --write

Add Mastodon
  src/pages/index.astro
Due: none

Skill Icons
  src/layouts/Layout.astro
  src/pages/about.astro
Due: none

Upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Skill icons image optimization
  src/pages/about.astro
Due: none

Add links to UCW & smallfang
  src/pages/links.astro
Due: none

Bundle GitHub Buttons
  package.json
  pnpm-lock.yaml
  src/pages/about.astro
Due: prettier --write

Back to Next.js
  .eslintignore
  .eslintrc.cjs
  .eslintrc.json
  .gitignore
  .lintstagedrc.cjs
  .prettierignore
  .prettierrc.cjs
  .prettierrc.json
  .vscode/extensions.json
  .vscode/launch.json
  README.md
  astro.config.mjs
  next.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  public/favicon.svg
  skills.json
  src/app/(layout)/NavLink.tsx
  src/app/(layout)/about/GitHubButton.tsx
  src/app/(layout)/about/page.tsx
  src/app/(layout)/layout.tsx
  src/app/(layout)/links/Links.tsx
  src/app/(layout)/links/page.tsx
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/FontAwesomeIcon.astro
  src/env.d.ts
  src/layouts/BaseLayout.astro
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/index.astro
  tailwind.config.cjs
  tsconfig.json
Due: eslint --fix, prettier --check, prettier --write

Vercel Web Analytics
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint --fix, prettier --check, prettier --write

Update navbar style & the link to Baoshuo
  src/app/(layout)/NavLink.tsx
  src/app/(layout)/links/Links.tsx
Due: eslint --fix, prettier --check

Add Projects & replace with Simple Icons
  package.json
  pnpm-lock.yaml
  src/app/(layout)/about/page.tsx
  src/app/(layout)/layout.tsx
  src/app/(layout)/links/Links.tsx
  src/app/(layout)/projects/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ExternalLink.tsx
  src/components/SimpleIcon.tsx
  src/hooks/masonry-layout.ts
Due: eslint --fix, prettier --check, prettier --write

Fix navbar layout
  src/app/(layout)/NavLink.tsx
  src/app/(layout)/layout.tsx
Due: eslint --fix, prettier --check
