Repository wxh06/wxh.im: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check, prettier --write

Inter font
  package.json
  pnpm-lock.yaml
  src/layouts/BaseLayout.astro
  src/pages/about.astro
  src/pages/index.astro
  tailwind.config.mjs
Due: prettier --write

ViewTransitions
  src/layouts/BaseLayout.astro
  src/layouts/Layout.astro
  src/pages/about.astro
Due: none

GitHub Buttons
  package.json
  pnpm-lock.yaml
  src/pages/about.astro
Due: prettier --write

Fix GitHub buttons
  src/pages/about.astro
Due: none

Fix navigation
  astro.config.mjs
  src/components/NavLink.astro
  vercel.json
Due: prettier --write

Projects
  .eslintrc.cjs
  .lintstagedrc.cjs
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ProjectGroup.astro
  src/content/config.ts
  src/content/projects/caddy-uwsgi-transport.mdx
  src/content/projects/dockerjudge.md
  src/content/projects/luogu/exlg-backend.md
  src/content/projects/luogu/exlg.mdx
  src/content/projects/luogu/lgtracker.md
  src/content/projects/luogu/luogu-badges.md
  src/content/projects/luogu/luogu-captcha-bypass.md
  src/content/projects/luogu/luogu-discussion-archive.md
  src/content/projects/luogu/pyluogu.md
  src/env.d.ts
  src/pages/projects.astro
Due: eslint --fix, prettier --check, prettier --write

Fix project GitHub buttons
  src/components/ProjectGroup.astro
  src/components/project-github-buttons.ts
  src/pages/projects.astro
Due: eslint --fix, prettier --check

Links
  package.json
  pnpm-lock.yaml
  src/components/masonry-layout.ts
  src/layouts/BaseLayout.astro
  src/pages/links.astro
Due: eslint --fix, prettier --check, prettier --write

skillicons
  src/pages/about.astro
  src/skills.json
Due: prettier --write

Hoist sharp
  .npmrc
Due: none

Image optimization
  astro.config.mjs
Due: none

Accessibility improvement
  src/pages/about.astro
  src/pages/index.astro
  src/pages/projects.astro
Due: none

Skill icons svg optimization
  src/pages/about.astro
Due: none

Remove duplicated Masonry initialization
  src/components/masonry-layout.ts
Due: eslint --fix, prettier --check

Fix masonry error
  src/components/masonry-layout.ts
Due: eslint --fix, prettier --check

Add caie-assembler
  src/content/projects/caie-assembler.mdx
Due: none

Fix misreport of `import/no-unresolved`
  .eslintignore
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check, prettier --write

astro-icon
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ExternalLink.astro
  src/components/ProjectGroup.astro
  src/pages/about.astro
  src/pages/index.astro
Due: prettier --write

Add link to blog
  src/pages/index.astro
Due: none

Upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Linguist overrides
  .gitattributes
Due: none

Update luogu-captcha-recognition
  src/content/projects/luogu/luogu-captcha-bypass.md
  src/content/projects/luogu/luogu-captcha-recognition.md
Due: prettier --write

Update links.astro
  src/pages/links.astro
Due: none

Update astro.config.mjs
  astro.config.mjs
Due: none

Upgrade Astro
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/layouts/BaseLayout.astro
  tsconfig.json
Due: prettier --write

Upgrade linters
  .eslintignore
  .eslintrc.cjs
  .husky/pre-commit
  .lintstagedrc.cjs
  .lintstagedrc.json
  .vscode/settings.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/masonry-layout.ts
  src/components/project-github-buttons.ts
  src/env.d.ts
  tailwind.config.mjs
Due: eslint --fix, prettier --check, prettier --write

Update dead links
  astro.config.mjs
  src/pages/links.astro
Due: none

Update info
  package.json
  pnpm-lock.yaml
  src/pages/about.astro
  src/skills.json
Due: prettier --write

Migrate to v5 content collections
  .gitattributes
  .vscode/extensions.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ProjectGroup.astro
  src/content.config.ts
  src/content/config.ts
  src/data/links.yaml
  src/data/projects/caddy-uwsgi-transport.mdx
  src/data/projects/caie-assembler.mdx
  src/data/projects/dockerjudge.md
  src/data/projects/luogu/exlg-backend.md
  src/data/projects/luogu/exlg.mdx
  src/data/projects/luogu/lgtracker.md
  src/data/projects/luogu/luogu-badges.md
  src/data/projects/luogu/luogu-captcha-recognition.md
  src/data/projects/luogu/luogu-discussion-archive.md
  src/data/projects/luogu/pyluogu.md
  src/pages/links.astro
Due: eslint --fix, prettier --check, prettier --write

Update avatar png
  src/data/links.yaml
Due: prettier --write

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove unused Card
  src/components/Card.astro
Due: none

chore: remove Inter font
  package.json
  pnpm-lock.yaml
  src/layouts/BaseLayout.astro
Due: prettier --write

chore(eslint): remove Prettier rules from ESLint
  .lintstagedrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(astro): upgrade Astro to v6
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ProjectGroup.astro
  src/layouts/BaseLayout.astro
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/index.astro
  src/pages/links.astro
  src/pages/projects.astro
Due: prettier --write

fix: do not serve Skill Icons due to Astro bug
  astro.config.mjs
Due: none

fix(projects): icon margin
  src/components/ProjectGroup.astro
Due: none

Path conditions:
  eslint --fix: any of: *.{js,cjs,ts,jsx,tsx}
  prettier --check: any of: *.{js,cjs,ts,jsx,tsx}
  prettier --write: any of: *.{json,yml,yaml,html,md,css,scss}
